{% extends "base_layout.html" %}

{% block content %}
    <h1 style="margin-left:55px;margin-bottom:0px; " >Welcome {{ user }} </h1>
    <form action="/home/"  method="post">
        {% csrf_token %}
        <div class="post-style">
            <textarea class="text-area" name="body" cols="50" rows="5" required id="id_body"></textarea>
        </div>
        <div>
            <input type="submit" value="Post">
        </div>
    </form>
    <div>
        {% for post in posts %}
            <div class="status-blog">
                <h2>{{ post.body }}</h2>
                <p>{{ post.date }}</p>
                <p>Posted by : {{ post.author }}</p>
                <p class="like-text">{{ post.likes }} People Likes this</p>
                <form method="post" action="/home/like/{{ post.id }}/">
                    {% csrf_token %}
                    {% if post.likes == 0 %}
                        <input type="submit" value="Like" name="like-btn">
                    {% else %}
                        <input type="submit" value="unLike" name="like-btn">
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
