{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>
            Social Network
        </title>
    </head>
    <body>
    <header>
    {% if user.is_authenticated %}
        <div>
            <ul>
            <li><a class="Home" href={% url 'home:post' %}>Home</a></li>
            <li><a class="Profile" href={% url 'accounts:profile' %}>Profile</a></li>
            <li><a class="Edit Profile" href={% url 'accounts:editProfile' %}>Edit Profile</a></li>
             <li><a class="Friends" href={% url 'accounts:friends' %}>Friends</a></li>
            </ul>
        </div>
        <div>
        <form action={% url 'accounts:logout' %} method="post">
        {% csrf_token %}
         <div>
            <input type='submit' value="logout">
         </div>
        </form>
    </div>
    {% else  %}
        <div>
            <ul>
            <li><a class="Home" href="/home">Home</a></li>
            </ul>
        </div>
        <div>
            <form action="{% url 'accounts:sign_up' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="SignUp">
            </form>
        </div>
    {% endif %}
    </header>
        {% block content %}
        {% endblock %}
    </body>
</html>