
li a.active {
    color: white;
    background-color: #3A4B53;
}
body {
    background:#F5F7F8;
}
.site-form {
    float:left
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

.status-blog {
    border-radius: 5px;
    background-color: #FFE4C4;
    padding: 20px;
    width:500px;
    margin: 25px;
    position:relative;
    left:27px;
    box-shadow: 5px 8px green
}
.btn-style {
    float:right;
    position:relative;
    bottom:36px;
    right:10px;
    border: 1px solid #777777;
    font: bold 11px 'Trebuchet MS';
}
.post-style {
    padding:60px;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
    position: relative;
    top: 30px;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 30px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

input[value=logout]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float:right;
    position:relative;
    bottom:56px;
}

input[value=Post]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:relative;
    bottom:56px;
    left:55px;
}

input[value=SignUp]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float:right;
    position:relative;
    bottom:56px;
}
.login-style {
    border-radius: 5px;
    background-color: #FFE4C4;
    padding: 20px;
    width:500px;
    position: relative;
    top: 60px;
    margin: auto;
}
input[value=login]:hover {
    background-color: #45a049;
}
input[value=login]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text],[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[value=Like] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    position:relative;
    float:right;
    bottom:35px;
}
input[value=unLike] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    position:relative;
    float:right;
    bottom:35px;
}

.like-text {
  position:relative;
  left:280px;
  top:10px;
}