{% extends "base_layout.html" %}

{% block content %}
<div class="card" >
  <img src="{{ user.userprofile.photo.url }}" style="width:100%">
  <h1>{{ user.username }}</h1>
  <p class="title"> About : {{user.userprofile.about  }}</p>
  <p>City : {{ user.userprofile.city }}</p>
  <p>Birth Date : {{ user.userprofile.date_of_birth }}</p>
  <p><button class="button">{{ user.userprofile.phone }}</button></p>
  {% if user == request.user %}
    <form action="{% url 'accounts:download-my-data' %}" method="post">
      {% csrf_token %}
      <!-- <input type="hidden" name="format" value="json"> -->
      <input type="submit" value="Download my data (JSON)" class="download-my-data">
    </form>
      <a href="{% url 'accounts:upload-my-data' %}">
      <input type="submit" value="Upload my data (JSON)" class="download-my-data">
      </a>
  {% endif %}
</div>
<style>
  .download-my-data {
    margin-top: 5px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
  }
  .download-my-data:hover {
    background-color: rgb(88, 185, 90);
  }
</style>
{% endblock %}