{% extends "base_layout.html" %}

{% block content %}
<div class="card" >
  <img src="{{ user.userprofile.photo.url }}" style="width:100%">
  <h1>{{ user.username }}</h1>
  <p class="title"> About : {{user.userprofile.about  }}</p>
  <p>City : {{ user.userprofile.city }}</p>
  <p>Birth Date : {{ user.userprofile.date_of_birth }}</p>
  <p><button class="button">{{ user.userprofile.phone }}</button></p>
  {% if user == request.user %}
    <form action="{% url 'accounts:download-my-data' %}" method="post">
      {% csrf_token %}
      <!-- <input type="hidden" name="format" value="json"> -->
      <input type="submit" value="Download my data (JSON)">
    </form>
  {% endif %}
</div>
{% endblock %}